/******* MAIN CHAT WINDOW STYLES ******/

.main {
  height: 100%;

  .chat {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 15px;
  }

  .chat-header,
  .chat-input {
    padding: 15px;
    background-color: #cccccc;
    color: #002280;
    flex: 1;
  }
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 15px;

  .user {
    display: flex;
    align-items: center;

    img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      border-radius: 50%;
    }
  }

  .name {
    font-weight: bold;
  }

  .erase-conversation {
    width: 20px;
  }
}

.chat-messages {
  flex: 18;
  display: flex;
  flex-direction: column;
  padding: 15px;
  overflow-y: auto;
  background-color: #f7f7f7;

  .date {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;

    span {
      display: inline-block;
      width: 150px;
      padding: 10px;
      color: #a7a7a7;
      font-size: 14px;
      border-radius: 4px;
    }
  }

  .message {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &:first-child {
      margin-top: auto;
    }

    .text {
      max-width: 45%;
      font-size: 14px;
      padding: 10px;
      margin-bottom: 5px;
      border-radius: 5px;
    }

    .time {
      font-size: 12px;
      color: #777777;
    }

    &.incoming {
      align-items: flex-start;
      .text {
        background-color: #cccccc;
      }
    }

    &.outgoing {
      align-items: flex-end;

      .text {
        background-color: #0e3294;
        color: #ffffff;
      }

      .time {
        justify-self: flex-end;
      }
    }
  }
}

.chat-input {
  display: flex;
  border-bottom-right-radius: 15px;

  form {
    width: 100%;
    display: flex;
  }

  input {
    flex: 9;
  }

  button {
    flex: 1;
    height: 34px;
    border: 1px solid #a7a7a7;
    border-left: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-weight: bold;
    color: #ffffff;
    background-color: #002280;
    cursor: pointer;

    &:disabled {
      background-color: #f7f7f7;
      color: #a7a7a7;
    }
  }
}
