<div class="main">
  <div class="chat" *ngIf="conversation">
    <div class="chat-header">
      <div class="user">
        <img src="/assets/user.png" alt="User photo" />
        <span class="name">{{ conversation.user }}</span>
      </div>
    </div>
    <div class="chat-messages" #chatMessages>
      <div
        class="message"
        *ngFor="let message of conversation.messages; let i = index"
        [ngClass]="{ incoming: message.incoming, outgoing: !message.incoming }"
      >
        <div class="date" *ngIf="isDifferentDay(i)">
          <span>{{ getMessageDate(i) }}</span>
        </div>
        <div class="text">{{ message.text }}</div>
        <div class="time">{{ message.time | date: "shortTime" }}</div>
      </div>
    </div>
    <div class="chat-input">
      <form (ngSubmit)="sendMessage()" #form="ngForm">
        <input
          [(ngModel)]="chatInput"
          name="message"
          #message="ngModel"
          placeholder="Type your message..."
          type="text"
        />
        <button
          [disabled]="!chatInput || chatInput.length === 0"
          type="submit"
          class="send"
        >
          Send
        </button>
      </form>
    </div>
  </div>
</div>
