.wrapper {
  width: 850px;
  height: 750px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: flex;

  app-sidebar {
    width: 300px;
  }

  app-chat {
    flex: 1;
  }
}
