/******* SIDEBAR STYLES ******/
.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #0e3294;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.title {
  flex: 1;
  width: 100%;
  padding: 20px 15px 8px;
  text-align: center;
  border-bottom: 1px solid #001244;
  color: #ffffff;
  font-size: 20px;
  line-height: 1;
}

.conversations {
  flex: 18;

  .conversation {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    color: #ffffff;
    padding: 15px;
    border-bottom: 1px solid #001244;

    &:hover,
    &.active {
      background-color: rgba(#001244, $alpha: 0.9);
    }

    img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .user {
      margin-right: 5px;
      flex: 1;
      max-width: 160px;

      .name {
        font-size: 14px;
      }

      .last-message {
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap;
        width: 95%;
        word-break: break-word;
        text-overflow: ellipsis;
        margin-top: 5px;
      }
    }

    .time {
      font-size: 11px;
    }
  }
}

.new-conversation {
  flex: 1;
  padding: 15px;
}
