<div class="sidebar">
  <div class="title">My friends</div>
  <div class="conversations">
    <div
      class="conversation"
      *ngFor="let conversation of conversations"
      [ngClass]="{ active: conversation.id === activeConversation.id }"
      (click)="selectConversation(conversation)"
    >
      <img src="/assets/user.png" alt="User photo" />
      <div class="user">
        <div class="name">{{ conversation.user }}</div>
        <div class="last-message">
          {{ lastMessage(conversation).text }}
        </div>
      </div>
      <div class="time">{{ lastMessage(conversation).time | date }}</div>
    </div>
  </div>
</div>
