* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  background: -moz-linear-gradient(0deg, #68fefe 0, #9da9f6 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    0deg,
    color-stop(0, 68fefe),
    color-stop(100%, 9da9f6)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    0deg,
    #68fefe 0,
    #9da9f6 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    0deg,
    #68fefe 0,
    #9da9f6 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(0deg, #68fefe 0, #9da9f6 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
  background: linear-gradient(0deg, #68fefe 0, #9da9f6 100%); /* W3C */
}

input {
  height: 34px;
  padding: 10px;
  box-shadow: none;
  border: 1px solid #a7a7a7;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f7f7f7;
  color: #002280;

  &:focus {
    outline: none;
    border-color: #002280;
  }
}
